/*@font-face {*/
    /*font-family: Ubuntu; */
    /*src: url('../fonts/Ubuntu-Regular.ttf');*/
/*}*/

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#username {
    float: left;
    margin-right: 20px;
    font-size: 26px;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: white;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}

.pace .pace-progress-inner {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px white, 0 0 5px white;
    opacity: 1.0;
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -moz-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    -o-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 15px;
    right: 15px;
    width: 14px;
    height: 14px;
    border: solid 2px transparent;
    border-top-color: white;
    border-left-color: white;
    border-radius: 10px;
    -webkit-animation: pace-spinner 400ms linear infinite;
    -moz-animation: pace-spinner 400ms linear infinite;
    -ms-animation: pace-spinner 400ms linear infinite;
    -o-animation: pace-spinner 400ms linear infinite;
    animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
    0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
    0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
    0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
    0% { transform: rotate(0deg); transform: rotate(0deg); }
    100% { transform: rotate(360deg); transform: rotate(360deg); }
}

body {
    /*font-family: Ubuntu;*/
    background-color: #f0f0f6;
    color: #666666;
    /*padding-top: 100px;*/

}

.content {
    text-align: center;
    width: 1150px;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    transition-duration: 0.3s;
}

.header-content {
    text-align: center;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    background: #2e6aaa;
    display: inline-flex;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    color: white;
    position: fixed;
    /* top: 0px; */
    /* height: 200px; */
    z-index: 1;
}

#logo {
    font-size: 30px;
    color: white;
    vertical-align: middle;
    line-height: 50px;
    float: left;
    width: 160px;
    text-align: left;
    background-image: url("../img/Logo.png");
    background-repeat: no-repeat;
    background-size: 45px;
    background-position: center right;
    cursor: pointer;
}

/*#logo:after {*/
    /*content: url("/img/Logo.png")*/
    /**/
/*}*/

#search {
    width: 500px;
    float: left;
}

#search-input {
    width: 500px;
    margin-top: 35px;

}


#login-signup {
    vertical-align: middle;
    line-height: 46px;
    float: right;
}

.row {
    border-radius: 3px;
    background-color: white;
    min-height: 100px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.1);
    margin-bottom: 8px;
}

.btn {
    height: 43px;
    width: 100px;
    /*border-radius: 15px;*/
    border: 0px solid transparent;
    font-size: 20px;
    width: auto;
}

.login {
    margin-right: 15px;
    background-color: transparent;
    color: white;
}

.login:hover {
    background-color: #24568c;
    color: white;
}

.signup {
    background-color: transparent;
    color: white;
}

.signup:hover {
    background-color: #24568c;
    color: white;
}

.sub-header {
    width: 100%;
    height: 20px;
    color: #666666;
}

.sub-header-content {
    text-align: center;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    float: left;
}

.sort {
    float: right;
}

.selected {
    border-bottom: #26bfea;
    border-bottom-width: 2px;
    border-bottom-style: double;
    margin-right: 16px;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

.topic-caption {
    float: left;
    text-align: left;
}

.topic_text {

}

.topic-stats {
    float: right;
    margin-top: -13px;
}

.bold {
    font-weight: bold;
}

.question {
    font-size: 20px;
    margin-bottom: 3px;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 3px;
    cursor: pointer;
    height: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 1000px;
    white-space: nowrap;
}

.time {
    color: #bbbbbb;
}

.name {
    font-weight: bold;
    color: #959595;
    cursor: pointer;
}

.reply {
    margin-top: -10px;
    font-size: 20px;
    color: #bbbbbb
}

.replies-number {
    font-size: 34px;
}

.col-md-12 {
    min-height: 100px;
    padding: 25px;
}

#background {
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

#form {
    background-color: white;
    width: 500px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    border-radius: 5px;
}

.answer {
    text-align: left;
}

.thread_title {
    text-align: left;
    font-size: 24px;
}

hr {
    margin-top: 2px;
    margin-bottom: 2px;
}

.user_image {
    height: 50px;
    background-repeat: no-repeat;
    border-radius: 50px;
    width: 50px;
    background-size: cover;
}

.big {
    height: 100px;
    width: 100px;
}

.user_sign {
    display: inline-flex;
    vertical-align: middle;
    margin-top: 10px;
    float: left;
}

.user_name {
    vertical-align: middle;
    line-height: 2;
    margin-left: 10px;
    cursor: pointer;
}

#scrollup {
    border: none;
    position: fixed;
    color: white;
    padding: 15px 32px;
    background: transparent;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    z-index: 2;
}